.header_container {
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 16px 80px
}

.header_navigation :not(:last-child) {
    margin-right: 16px;
}

.header_navigation :last-child {
    color: #68B437;
}

.navigation_link {
    padding: 8px 10px;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
}

.navigation_link:hover {
    background-color: #f5f5f5;
}