.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

}

.form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputs_container {
    width: 31.25%;
}