.preview_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 80px;
    width: 100%;
    height: 500px;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/images/home_preview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview_section__title {
    font-size: 4.25rem;
    font-weight: 500;
    color: white;
    width: 574px;
}

.preview_section__description {
    font-size: 1.25rem;
    color: white;
    width: 574px;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 500;
    align-self: center;
    margin-bottom: 40px;
}

/* ----------------------- */

.cards_section {
    display: flex;
    flex-direction: column;
    padding: 56px 80px;
}

.cards_container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
}

/* ----------------------- */

.projects_section {
    display: flex;
    flex-direction: column;
    padding: 56px 80px;
    background-color: #cce1f0;
}

.project_hexagons_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 992px;
    align-self: center;
}

/* ----------------------- */

.clients_section {
    display: flex;
    flex-direction: column;
    padding: 56px 80px;
}

.general_partner_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}

.general_partner__title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 16px;
}

.general_partner__image_container {
    position: relative;
    height: 80px;
    width: 156px;
}