.header_container {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 24px 80px

}
.header_nav ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header_nav ul li:last-child{

}

.logo {
    background-image: url('../../../../static/images/logo.svg');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 55px;
}