.button {
    display: block;
    background-color: rgba(13, 109, 181, 0.1);
    border: 2px solid #0D6DB5;
    border-radius: 8px;
    padding: 12px 16px;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #0D6DB5;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(13, 109, 181, 0.2);
    border-color: #0c61a1;
}

.button:active {
    background-color: rgba(13, 109, 181, 0.25);
    border-color: #0a5996;
}