.button {
    display: block;
    background-color: #0D6DB5;
    border-radius: 8px;
    padding: 12px 16px;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #2487d3;
}

.button:active {
    background-color: #0760a5;
}